# Dependencias
node_modules/
.npm/

# Variables de entorno (¡MUY IMPORTANTE NO SUBIR ESTO!)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
.DS_Store
Thumbs.db

# Build output
dist/
build/
